*{
    margin: 0%;
    padding: 0%;
}
input,button,select{
    background-color: black;
    color: rgb(12, 211, 135);
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 12px;
}
